:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #fed136;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

element.style {
  color: #242935;
  background-color: #343a40;
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: transparent;
  }
}

#mainNav {
  background-color: #212529;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  top: 0;
}

.bg-dark {
  background-color: #343a40!important;
}

@media (min-width:992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a:hover {
  color: #0B0B0B;
}

a:hover {
  color: #e6b301;
  text-decoration: underline;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

a {
  color: #3e8ce4;
}

a {
  text-decoration: none;
  background-color: transparent;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

img, svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

element.style {
  background-color: rgb(35,135,246);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #3e8ce4;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar-dark .navbar-toggler {
  color: hsla(0,0%,100%,.5);
  border-color: hsla(0,0%,100%,.1);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

element.style {
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.text-uppercase {
  text-transform: uppercase!important;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

element.style {
  background-color: #242935;
}

header.masthead {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50%;
  background-size: cover;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  overflow-x: hidden;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

element.style {
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center!important;
}

@media (min-width:992px) {
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

@media (min-width:1200px) {
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width:768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.text-primary {
  color: #3e8ce4!important;
}

.text-muted {
  color: #868e96!important;
}

p {
  line-height: 1.75;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.bg-light {
  background-color: #f8f9fa!important;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div {
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.bg-light {
  background-color: #f8f9fa!important;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.text-center {
  text-align: center!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}

.pt-5, .py-5 {
  padding-top: 3rem!important;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

footer {
  padding: 25px 0;
  text-align: center;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0!important;
}

.fade:not(.show) {
  opacity: 0;
}

.portfolio-modal {
  padding-right: 0!important;
}

.text-center {
  text-align: center!important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

@media (prefers-reduced-motion:reduce) {
  .fade {
    transition: none;
  }
}

.fade {
  transition: opacity .15s linear;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.text-muted {
  color: #868e96!important;
}

p {
  line-height: 1.75;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(221,183,52,.5);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #fec503;
  border-color: #f3bd01;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(254,209,55,.5)!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810!important;
  border-color: #fec810!important;
  color: #fff;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(221,183,52,.5);
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #212529;
  background-color: #fec810;
  border-color: #fec503;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(254,209,54,.25);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.btn-primary {
  color: #fff;
  background-color: #3e8ce4;
  border-color: #3e8ce4;
}

.btn {
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.btn-primary {
  color: #212529;
}

@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}




